$color-primary: #ff6060;
$color-secondary: #7d3232;
$color-tertiary: white;
$grid-background: rgba(0, 0, 0, 0.088);
$grid-background-mobile: white;
$footer-background-color: black;
$background-light: rgba(161, 161, 161, 0.097)