@use "../scss/variables.scss" as *;

.apartment {
  background-image: linear-gradient(to top, $color-secondary, $color-primary);
  border-radius: 1rem;
  flex-basis: 30%;
  display: grid;
  align-items: end;
  min-width: 200px;
  min-height: 200px;
  & &__title {
    width: 50%;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 5%;
    color: $color-tertiary;
  }
}

@media screen and (width<=768px) {
  .apartment {
    flex-basis: 100%;
  }
}
