@use "../scss/variables.scss" as *;

.grid {
  background-color: $grid-background;
  min-height: 50vh;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

@media screen and (width<=768px) {
  .grid {
    justify-content: center;
    background-color: $grid-background-mobile;
    padding: 0;
  }
}
