@use "../scss/variables.scss" as *;

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  color: $color-primary;
  font-weight: 700;
  gap: 2rem;
  & > *:first-child {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: $color-primary;
    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}
